* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gozler {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images.png) bottom;
    background-repeat: no-repeat;
    background-size: 20%;
}

.goz {
    width: 9rem;
    height: 9rem;
    margin-right: 2rem;
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    border-top: 80px solid black;
    transition: all .5s ease;
}

.goz:hover {
    border-top: 12px solid #000;
}

.bebek {
    position: absolute;
    width: 2.75rem;
    height: 2.75rem;
    background-color: darkred;
    border-radius: 50%;
    border: 8px solid gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}